.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.route--active:hover,.route--active:focus{
  font-weight: bold;
  text-decoration: underline;
}

.navButton {
  width:100%;
  margin:0!important;
  border-radius:0!important;
}

#topNav>ul{
  display:flex!important;
}

#topNav>ul>li{
  margin-right:5px;
}

#topNav ul>li>a{
  display:block;
  width:100%;
  height:100%;
}

#topNav>ul>li>a>span{
  display:inline-block;
}

#adminDrop .dropdown-menu{
  padding:0;
}